<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Betanyatah &bullet; Forgot Password</title>
    <link rel="stylesheet" href="css/phone-mode.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script
        type="text/javascript"> (function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.17/index.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.17/index.umd.min.js"></script>
    <script src="js/post-func.js"></script>
</head>

<body>

    <div class="phone-mode">
        <div id="transitions-wrapper">

            <!-- TRANSITIONS CHANGE -->
            <div class="transitions-cont login">

                <!-- HEADER NAV -->
                <div class="nav-header">
                    <p>Welcome to Betanyatah.me</p>
                </div>
                <!-- HEADER NAV END-->

                <!-- CONTENT START -->
                <div class="content">

                    <img src="img/logo-login.png" alt="#">

                    <div class="login">
                        <div class="login-column">
                            <h3 class="header">Forgot Password?</h3>
                            <form action="#" method="post">
                                <input type="email" name="email" id="email" placeholder="your@email.com">
                                <br>
                                <button class="btn-submit">Request Password Reset</button>
                            </form>
                            <br>
                            <div class="login-others">
                                <a href="register.html">Don't have an account?</a>
                                <p>OR</p>
                                <a href="#">Having trouble signing in?</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- CONTENT END-->

                <!-- STICKY NAV -->
                <div class="sticky-bottom-nav">
                    <div class="column">
                        <a href="homepage.html"><i class="fas fa-home"></i></a>
                    </div>
                    <div class="column">
                        <a href="nottifications.html"><i class="fas fa-bell"></i></a>
                    </div>
                    <div class="column">
                        <a href="#"><i class="far fa-question-circle"></i></a>
                    </div>
                    <div class="column">
                        <a href="profile.html"><i class="fas fa-user"></i></a>
                    </div>
                    <div class="column">
                        <a href="search.html"><i class="fas fa-cogs"></i></a>
                    </div>
                </div>
                <!-- STICKY NAV END-->

                <script>
                    // Pull To Refresh
                    const ptr = PullToRefresh.init({
                        mainElement: '.content',
                        onRefresh() {
                            window.location.href = window.location.origin + window.location.pathname;
                        }
                    });
                </script>

            </div>
            <!-- TRANSITIONS CHANGE END-->

        </div>
    </div>

    <script src="js/barba.js"></script>
</body>

</html>