<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Betanyatah &bullet; Verified</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/phone-mode.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script
        type="text/javascript"> (function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js"></script>
    <script src="js/post-func.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
</head>

<body>

    <div class="phone-mode">
        <div id="barba-wrapper">

            <!-- TRANSITIONS CHANGE -->
            <div class="barba-container homepage 404">

                <!-- HEADER NAV -->
                <div class="nav-header">
                    <p>Notifications</p>
                </div>
                <!-- HEADER NAV END-->

                <!-- CONTENT START -->
                <div class="content">

                    <div class="404" style="text-align: center; margin: 50px;">
                        <h1 style="color: rgb(14, 190, 29); padding-bottom: 20px;"><i class="fas fa-check"></i> Verified</h1>
                        <p>User has been verified</p>
                        <br>
                        <a href="/" class="btn-submit" style="border: 0;
                        margin-top: 10px;
                        padding: 8px 50px;
                        background-color: #255fe3;
                        color: white;
                        border-bottom: 7px solid #1843a7;
                        font-size: 13px;
                        text-decoration: none;">Back to homepage</a>
                    </div>

                </div>
                <!-- CONTENT END-->

                <!-- STICKY NAV -->
                <div class="sticky-bottom-nav">
                    <div class="column">
                        <a href="/"><i class="fas fa-home"></i></a>
                    </div>
                    <div class="column">
                        <a id="active" href="#"><i class="fas fa-bell"></i></a>
                    </div>
                    <div class="column">
                        <a href="/search"><i class="far fa-question-circle"></i></a>
                    </div>
                    <div class="column">
                        <a href="/u/<%= username %>"><i class="fas fa-user"></i></a>
                    </div>
                    <div class="column">
                        <a href="/settings"><i class="fas fa-cogs"></i></a>
                    </div>
                </div>
                <!-- STICKY NAV END-->

            </div>
            <!-- TRANSITIONS CHANGE END-->

        </div>
    </div>

    <script src="js/barba.js"></script>
</body>

</html>